<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <!-- bg red 500 not working -->
        <a class="bg-red-500" href="/logout">logout</a>

        <h3>edit your post</h3>
        <form action="/update/<%= post._id %>" method="post">
            <textarea name="content" placeholder="whats in your mind"> <%= post.content %></textarea>
            <input type="submit" value="update post">
        </form>
    </div>
</body>
</html>