<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>create account</h1>
        <form action="/register" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="username" name="username">
            <input type="number" placeholder="age" name="age">
            <input type="email" placeholder="email" name="email">
            <input type="password" placeholder="pasword" name="pasword">
            <input type="submit" value="create account">
        </form>
    </div>
</body>
</html>